* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
}

header {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 70px;
  margin: 10px;
}

header .nav a {
  margin: 10px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

header .nav a.active,
header .nav a:hover {
  border-bottom: 2px solid #0c7cec;
  padding-bottom: 20px;
}

/* main */
main {
  background-color: black;
}

main>div {
  width: 70%;
  margin: 0 auto;
}

main h1 {
  font-size: 40px;
  color: white;
  padding: 40px 0;
}

main .container {
  width: 100%;
  background-color: #0c7cec;
  padding: 40px 0;
}

main .container>div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main .container .card {
  display: flex;
  align-items: center;
}

main .container .card img {
  width: 50px;
}

main .container .card a {
  color: white;
  font-size: 12px;
  margin: 0 5px;
  text-decoration: none;
}

/* footer */
footer h2 {
  color: white;
  font-weight: 700;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-nav>div,
.footer-social>div {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  background-image: url(/img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden
}

.footer-nav>div {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  height: 400px;
  overflow: hidden;
}

.footer-nav .nav {
  display: flex;
  justify-content: flex-start;
}

.footer-nav .nav .col {
  margin: 10px;
}

.footer-nav .nav .col>.nav {
  display: block;
}

.footer-nav .nav .col>.nav a{
  display: block;
}

.footer-nav img {
  width: 500px;
  height: 500px;
  position: relative;
  top: -80px;
}

.footer-social {
  background-color: #303030;
}

.footer-social>div {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.footer-social .social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social .singup {
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #0c7cec;
  padding: 10px
}

.footer-social .social div {
  color: #0c7cec;
  font-size: 20px;
  font-weight: 700;
}

.footer-social .social img {
  width: 30px;
  height: 30px;
}
